.clip-image {
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 81%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 81%, 0 0);
}
.Typewriter__wrapper {
	font-size: 25px;
}
.Typewriter__cursor {
	font-size: 25px;
}
